- provide( :title_pipe, t( "Reset password" ) )

.jumbotron
  %h2= t('devise.custom.forgot_password')

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    %div
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    %div= f.submit t('devise.custom.passwords.send_reset_password_instructions')

    = render 'devise/shared/links'