%p= t('Hello') #{@resource.email}

%p= t('devise.custom.passwords.reset_password_request')

%p= link_to t('devise.custom.passwords.change_my_password'), edit_password_url(@resource, reset_password_token: @token)

%p= t('devise.custom.passwords.it_wasnt_me')
%p= t('devise.custom.passwords.password_wont_change')